@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html{
  box-sizing: border-box;
}

body{
  margin: 0;
  min-height: 100vh;
  font-family: 'Alfa Slab One', cursive;
  background-color: #000000;
}

h1{
  color: #d9f800;
    font-size: 40px;
    text-align: center;
    letter-spacing: 8px;
    margin: 35px;
}
.page-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}