@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html{
  box-sizing: border-box;
}

body{
  margin: 0;
  min-height: 100vh;
  font-family: 'Alfa Slab One', cursive;
  background-color: #000000;
}

h1{
  color: #d9f800;
    font-size: 40px;
    text-align: center;
    letter-spacing: 8px;
    margin: 35px;
}
.page-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imagecontainer img{
  display: block;
  width: 40%;
  margin: 20px auto;
}

.imagecontainer img:hover{
  transform: scale(105%,105%);
}


/* media queries */
@media screen and (max-width: 600px) {
  h1{
    color: #d9f800;
    font-size: 25px;
    text-align: center;
    letter-spacing: 6px;
    margin: 15px;
  }
  .imagecontainer img {
    display: block;
    width: 80%;
    margin: 20px auto;
}
}